.card {
  display: flex;
  flex-direction: column;
  background-color: var(--zinc-800);
  width: max(280px, 65%);
  height: 200px;
  padding: 1.25rem;
  border-radius: .5rem;
  cursor: grab;

  h2 {
    font-family: var(--general-font);
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.1;
  }

  .dates-container {
    margin-top: 1rem;
  }

  /* .due-date-container iconify-icon {
    color: #d97706;
  } */

  .create-date-container,
  .due-date-container {
    display: flex;
    color: #a3a3a3;
    font-family: var(--general-font);
    align-items: center;
    gap: 0.25rem;
    margin-bottom: .5rem;

    iconify-icon {
      font-size: 1.25rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .card-footer {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    align-items: center;
    position: relative;

    p {
      font-family: var(--general-font);
      border-radius: .5rem;
      padding: 0.5rem;
      display: flex;
      font-weight: 400;
      justify-content: center;
      align-items: center;
      color: white;
      text-transform: capitalize;
      font-size: .875rem;
    }

    .status-icon {
      width: 16px;
      height: 16px;
      border-radius: 100%;
    }

    button {
      appearance: none;
      background: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      iconify-icon {
        color: #dc2626;
        font-size: 1.75rem;
      }
    }

    .change-priority-panel {
      padding: .5rem;
      position: absolute;
      top: 50%;
      left: -8%;
      background-color: var(--zinc-800);
      display: flex;
      flex-direction: column;
      border-radius: .5rem;
      opacity: 0;
      z-index: -99;
      
      &.active {
        top: 100%;
        opacity: 1;
        z-index: auto;
        transition: top 0.15s ease-in-out, opacity .15s ease-in-out;
      }
      
      button {
        color: white;
        
        &:hover {
          background-color: var(--zinc-600);
          border-radius: .5rem;
        }
      }
    }
  }
}

.priority-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
  padding: 0 .5rem;
  border-radius: .5rem;
  position: relative;

  &:hover {
    background-color: var(--zinc-600);
    transition: background-color, 0.15s ease-in-out;
  }
  
}

